<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <img src="null" alt="">
                <button class="btn btn-primary" type="button">Edit</button>
                &nbsp;
                <button class="btn btn-danger" type="button">Delete</button>
            </div>
    

            <div class="row">
                <div class="col-xs-11">
                    <div class="col-md-6">
                        Email:
                        <br>
                        Phone:
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>