<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span style="font-size:24px">Contacts</span>
                <button class="btn btn-success pull-right">New Contact</button>
            </div>

        
        <div class="row">
            <div class="col-md-12" >
                <span class="list-group-item clearfix" *ngFor="let contact of contacts">
                    <div>
                        <span class="pull-left"><h4>{{contact.name}}</h4></span>
                        <span class="pull-right"><img [src]="contact.imgURL" alt="{{contact.name}}" class="img-responsive" style="max-height:50px"></span>
                    </div>
                </span>
            </div>
        </div>
    </div>
</div>